

<div class="navbar navbar-glass bg-black/25 border border-white rounded-lg">
	<div class="navbar-start">
		<a class="navbar-item text-white text-2xl font-semibold">RS</a>
	</div>
	<div class="navbar-end">
		<a class="navbar-item text-white">Sobre</a>
		<a class="navbar-item text-white">Habilidades</a>
		<a class="navbar-item text-white">Serviços</a>
		<a class="navbar-item text-white">Projetos</a>
		<a class="navbar-item text-white">Contato</a>
	</div>
	
</div>