
---
import TextGradient from "../effects/TextGradient.astro";
const{Class,Numero,Titulo}=Astro.props
---


<div class={ Class+ " border border-lime-300 backdrop-blur-lg rounded-lg flex flex-col gap-5 w-full p-5"}>
    <TextGradient>
            <span class=" flex flex-row gap-5">

            <h3 class="  text-3xl lg:text-4xl  font-semibold">{Numero}</h3>
            <h3 class="  text-3xl  lg:text-4xl  font-semibold">{Titulo}</h3>
            
        </span>
        </TextGradient>
    <p class=" text-xl text-white font-semibold">
      <slot/>
    </p>
</div>